.hack-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
.hack-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}