@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

@keyframes transition {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.content {
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    margin-left: 10%;
    animation: transition 1s;
}

.content h1 {
    margin: -10px 0;
    font-size: 3.5rem;
    font-weight: 900;
}

.content h1:nth-child(2) {
    background-color: red;
    background-image: linear-gradient(45deg, #0CC8DC, #0029FF);
    background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.content h1:nth-child(3) {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #0CC8DC, #0029FF);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.content h2 {
    margin-top: -5px;
    font-size: 2rem;
    background-color: red;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}
.home img{
    /* position: absolute; */
    margin-top: 4rem;
    margin-left: 15%;
    height: 600px;
    animation: transitionIn 1s;
    /* z-index: -1; */
}

@media only screen and (max-width: 600px) {
    .home img{
        height: 400px;
    }
    .content {
        margin-top: 2rem;
    }
    .content h1 {
        font-size: 2.5rem;
    }
}

