.tech-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 20rem;
}

.tech-card-content {
  padding: 8px;
  /* width: 20rem; */
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.tech-card-content img {
  transition: all 0.5s;
  height: 48px;
}
.tech-card-content img:hover {
  transform: scale(1.2);
}

.tech-box:hover {
  background-color: #f3f3f328;
}

.tech-card-content p {
  padding: 0 0.2rem;
  margin: 10px;
}

.tech-img-container {
  width: 5rem;
}
@media only screen and (max-width: 700px) {
  .tech-box {
    width: 100%;
    margin-left: 2rem;
  }
}
