
.blog-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5%;
}

.btn-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}

.More-btn{ 
    padding: 20px 30px;
    font-size: 1.4rem;
    background: none;
    outline: 0;
    border: 2px solid rgb(82, 82, 82);
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    color: black;
}

.More-btn::after{
    content: "";
    background-color: #76a8b1;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.More-btn:hover::after{
    top: 0px;
    left: 0px;
}

.More-btn:active{
    transform: translateY(2px);
}


@media only screen and (max-width: 600px) {
    .blog-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }

}
