@keyframes transitionProjectCard {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.project-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2%;
    animation: transitionProjectCard .75s;
}

@keyframes transitionButton {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    animation: transitionButton 1s;
}

.learnMore-btn{ 
    padding: 20px 30px;
    font-size: 1.4rem;
    background: none;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}

.learnMore-btn::after{
    content: "";
    background-color: #22d1ee;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.learnMore-btn:hover::after{
    top: 0px;
    left: 0px;
}

.learnMore-btn:active{
    transform: translateY(2px);
}

@media only screen and (max-width: 700px) {
    .project-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }

}