.header-header {
	display: flex;
  justify-content: center;
}
.icon-div {
  width: 40%;
}
.nav-list {
  display: flex;
  text-decoration: none;
  list-style: none;
  padding: 0 2rem;
}
.nav-list li {
  margin-left: 2rem;
  height: 1rem;
  transition: all .5s;
}


.nav-list li:hover {
  background-color: rgb(122, 213, 255);
  border-radius: 5px;
  margin-bottom: 1px solid black;
}

.nav-list li a {
	text-decoration: none;
	color: var(--dark-font-color);
}

.icon-list {
  display: flex;
  text-decoration: none;
  list-style: none;
  padding: 0 10px;
  margin-left: 3.5rem;
  max-width: 100%;
}

.icon-list li {
  margin-left: 2rem;
}

.icon-list img{
  transition: all .5s;
}

.icon-list img:hover{
  transform: scale(1.08);
}
@media only screen and (max-width: 600px) {
  .header-header {
    display: flex;
    margin-left: 0;
  }
}