@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

.App {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: 0 0 20px rgb(0, 0, 0);
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(226, 218, 218, 0.6);
    border-radius: 10px;
  }