

.blogs-div{
    margin-left: 8rem;
    animation: transition 1s;
}
.blog-head-back {
    margin: -10px 0;
    font-size: 3.5rem;
    font-weight: bold;
}

.blog-head-back {
    background-color: red;
    background-image: linear-gradient(45deg, #0CC8DC, #0029FF);
    background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.blog-head-front{
    color: black;
    position: relative;
    margin-top: -5rem;
    font-size: 2.4rem;
    font-weight: 400;
}